/* Estilos gerais */
body {
  font-family: 'Exo 2', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #1a1a1a;
  color: #ecc998;
}

.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

.header {
  background: #000;
  color: #ecc998;
  padding: 20px 0;
  border-bottom: 2px solid #ecc998;
}

.header .titulo {
  float: left;
  margin-top: 10px;
}

.header .titulo a {
  color: #ecc998;
  text-decoration: none;
  font-size: 24px;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  float: right;
}

.header li {
  display: inline;
  padding: 0 15px;
}

.header .navbar .agora a {
  color: #ecc998;
  font-weight: bold;
}

.header a {
  color: #ecc998;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
}

.header a:hover {
  color: #fff;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 140px);
}

.quiz-container {
  background: #000;
  padding: 30px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  width: 100%;
  max-width: 600px;
}

.quiz-header h2 {
  margin-bottom: 20px;
  color: #ecc998;
  text-align: center;
}

.quiz-header ul {
  list-style: none;
  padding: 0;
}

.quiz-header li {
  margin-bottom: 15px;
}

.quiz-header input[type="radio"] {
  margin-right: 10px;
}

.quiz-header label {
  cursor: pointer;
}

#botaoQuiz {
  display: inline-block;
  background: #ecc998;
  color: #000;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 4px;
  transition: background 0.3s ease;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 20px;
  
}

#botaoQuiz:hover {
  background: #d4b37f;
}

footer {
  background:black;
  color: #ecc998;
  text-align: center;
  padding: 20px 0;
  border-top: 2px solid #ecc998;
}

footer img {
  margin: 10px;
  vertical-align: middle;
  max-width: 100px;
}

footer img:last-of-type {
  width: 130px;
  height: 60px;
}

